# Compilados do Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Arquivos temporários
*.tmp
*.swp
*.bak
*.DS_Store
Thumbs.db

# Configurações de ambiente
.env

# Diretórios de build
/target/
/bin/
/out/
/build/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/dist/
/nbbuild/
/nblibraries.properties

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/

# Arquivos de sistema
*~
